# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
node_modules/

# Secrets & Keys
*key.json
*.pem
*.key
*.p12
.secret/
secrets/
.env.local

# IDEs
.idea/
.vscode/
*.swp

# Personal Learning
troubleshooting/
